In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataone.csv")

In [3]:
df.head()

   FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
0    106         1        1           0       1   15          1
1    105         0        0           0       0   52          0
2    107         1        1           0       0   52          0
3    105         1        1           1       0   56          0
4    105         0        1           1       0   72          1

In [4]:
df.tail()

      FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
3055     98         0        0           1       1   19          1
3056    102         0        0           0       0   95          0
3057    101         0        0           0       1   61          0
3058    102         1        1           1       1   29          1
3059    104         0        1           0       0   86          1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FEVER       3060 non-null   int64
 1   bodyPain    3060 non-null   int64
 2   runNose     3060 non-null   int64
 3   diffBreath  3060 non-null   int64
 4   Oxylow      3060 non-null   int64
 5   age         3060 non-null   int64
 6   InfecProb   3060 non-null   int64
dtypes: int64(7)
memory usage: 167.5 KB

In [6]:
df["FEVER"].value_counts()

107    322
104    287
98     287
103    283
101    278
106    276
105    273
108    273
100    263
102    262
99     256
Name: FEVER, dtype: int64

In [7]:
df.describe()

,FEVER,bodyPain,runNose,diffBreath,Oxylow,age,InfecProb
count,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000,3060.000000
mean,103.081046,0.504575,0.508497,0.513072,0.495098,50.207516,0.499346
std,3.174756,0.500061,0.500010,0.499911,0.500058,28.901979,0.500081
min,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100.000000,0.000000,0.000000,0.000000,0.000000,25.000000,0.000000
50%,103.000000,1.000000,1.000000,1.000000,0.000000,51.000000,0.000000
75%,106.000000,1.000000,1.000000,1.000000,1.000000,75.000000,1.000000
max,108.000000,1.000000,1.000000,1.000000,1.000000,100.000000,1.000000

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffeled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffeled[:test_set_size]
    train_indices = shuffeled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(9)

array([6, 0, 2, 8, 4, 7, 3, 5, 1])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

      FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
2322     99         0        0           0       0   26          0
2031    107         1        1           0       0   91          1
1373    107         0        1           1       1   84          0
351     105         1        0           1       1   34          0
2918     98         1        1           0       1   79          1
...     ...       ...      ...         ...     ...  ...        ...
1638    104         1        0           0       1   38          0
1095    105         1        0           0       0    7          0
1130    100         1        0           0       1  100          1
1294    107         0        1           0       0    2          0
860      98         0        0           1       0   82          0

[2448 rows x 7 columns]

test

In [13]:
train

      FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
2322     99         0        0           0       0   26          0
2031    107         1        1           0       0   91          1
1373    107         0        1           1       1   84          0
351     105         1        0           1       1   34          0
2918     98         1        1           0       1   79          1
...     ...       ...      ...         ...     ...  ...        ...
1638    104         1        0           0       1   38          0
1095    105         1        0           0       0    7          0
1130    100         1        0           0       1  100          1
1294    107         0        1           0       0    2          0
860      98         0        0           1       0   82          0

[2448 rows x 7 columns]

In [14]:
test

      FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
1764     98         0        1           1       0   62          0
203     107         0        1           1       1   79          1
1356     98         1        1           1       0   75          0
1451    101         0        1           0       0   12          0
1577    103         0        1           1       0   42          1
...     ...       ...      ...         ...     ...  ...        ...
2778    101         0        1           1       1   18          1
2279    103         0        0           1       1    0          0
219     107         1        0           1       0   58          0
367     107         0        1           0       0    2          1
2302    101         1        1           0       0   65          0

[612 rows x 7 columns]

In [15]:
x_train = train[['FEVER', 'bodyPain','runNose','Oxylow','age','InfecProb']].to_numpy()
x_test = test[['FEVER', 'bodyPain','runNose','Oxylow','age','InfecProb']].to_numpy()

In [16]:
y_train = train[['InfecProb']].to_numpy().reshape(2448 ,)
y_test = test[['InfecProb']].to_numpy().reshape(612 ,)

In [17]:
y_train

array([0, 1, 0, ..., 1, 0, 0])

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression(max_iter=1000)
clf.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [20]:
train

      FEVER  bodyPain  runNose  diffBreath  Oxylow  age  InfecProb
2322     99         0        0           0       0   26          0
2031    107         1        1           0       0   91          1
1373    107         0        1           1       1   84          0
351     105         1        0           1       1   34          0
2918     98         1        1           0       1   79          1
...     ...       ...      ...         ...     ...  ...        ...
1638    104         1        0           0       1   38          0
1095    105         1        0           0       0    7          0
1130    100         1        0           0       1  100          1
1294    107         0        1           0       0    2          0
860      98         0        0           1       0   82          0

[2448 rows x 7 columns]

In [21]:
infec =clf.predict([[100,1,1,1,1,31]])

In [22]:
print(infec)

[1]